@font-face {
    font-family: "LuloCleanW01-OneBold";
    font-display: auto;
    src: url("LuloCleanW01-OneBold.woff2") format("woff2");
}

@font-face {
    font-family: "FuturaLTW01-Light";
    font-display: auto;
    src: url("FuturaLTW01-Light.woff2") format("woff2");
}
